#theme {
    text-align: center;
    font-size: 42px;
    color: gray;
}

.img-title {
    height: 28px;
    background: #E2E2E2;
    border: 1px solid #C3C3C3;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

#social-card {
width: 600px;
border: 1px solid #C3C3C3;
border-radius: 3px;
margin: 10px auto;
box-shadow: 1px 1px 1px #C3C3C3;
}

